*,*::after,
*::before{
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: white;
    display: flex;
    color:  #F76C6C;
    font-size: 1.5em;
    flex-direction: column;
    text-align:center;
}

.header_div{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 144px;
}

.logoWCSHeader{
        height : 4em;
        width: 10em;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
}

.titreheader{
    width: 50%;
}

.wild_Co{
    top: 50px;
    font-weight: bold;
    color:black;
    font-family: 'Manjari', sans-serif;
    text-shadow : 1px 1px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.navflex{
    margin: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.navbloc{
    width: 50%;
}

.title1, .title2{
    background: rgb(226, 226, 226);
    border: solid 1px rgb(192, 191, 191);
    box-shadow: 0 10px 9px -3px rgba(220, 220, 220, 1);
    width: 100%;
    margin: 0 0 20px 0;
    color: rgb(77, 77, 77);
    padding-top: 10px;
    font-size: 24px;
    height: 70px;
}
.title1{
    background: white;
    padding-top: 10px;
}

.title2a h2:hover{
    background: white;
    font-size: 26px;
    box-shadow: inset 0 0 10px rgba(220, 220, 220, 1);
    transition: 0.3s;
}

.title1a,
.title2a{
    display: block;
    width: 100%;
    text-decoration: none;
    height: 70px;
}

.picture{
    display: none;
}


/*footer*/

#footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    font-size: 1em;
    background: rgb(43, 41, 41);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}
.zone1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 20px;

}

.zone1 a {
    text-decoration: none;
}
img{
    width:5em;
    height:7em;
    
}
.logoWCS{
    height : 4em;
    width: 10em;
    margin-right: 30px;
}

.spanh2{
    display: none;
}

@media only screen and (min-width: 768px){
.picture{
    display:block;
    width: 100%;
    height: 55%;
    }
}

@media only screen and (min-width: 900px){
    .spanh2{
        display: block;
    }
}