*,*::after,
*::before{
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: white;
    display: flex;
    color:  #F76C6C;
    font-size: 1.5em;
    flex-direction: column;
    text-align:center;
}

.header_div{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 144px;
}

.logoWCSHeader{
        height : 4em;
        width: 10em;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
}

.titreheader{
    width: 50%;
}

.wild_Co{
    top: 50px;
    font-weight: bold;
    color:black;
    font-family: 'Manjari', sans-serif;
    text-shadow : 1px 1px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.nav{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
    
}

.nav_annuaire, .nav_contact{
    border: solid 1px #D3D3D3;
    border-radius: 10px;   
    margin-left :3%;
    margin-right : 3%;
    margin-bottom: 5%;
}

.nav_annuaire a:active{
    box-shadow: 0 0 9px 4px rgba(179, 111, 111, 0.7);
    background-color: rgb(240, 184, 184);

}

.nav_contact a:active{
    box-shadow: 0 0 9px 4px rgba(179, 111, 111, 0.7);
    background-color: rgb(240, 184, 184);
}

.title {
    margin:5px 5px 5px 5px;
}

.picture{
    display: none;
}


/*footer*/

#footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    font-size: 1em;
    background: rgb(43, 41, 41);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}
.zone1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 20px;

}

.zone1 a {
    text-decoration: none;
}
img{
    width:5em;
    height:7em;
    
}
.logoWCS{
    height : 4em;
    width: 10em;
    margin-right: 30px;
    
}
@media only screen and (min-width: 768px)
{
.picture{
    display:block;
    width: 100%;
    height: 55%;
}

/* about.html */

.aboutbloc,
.sourcesbloc {
    
        border: solid 1px #D3D3D3;
        border-radius: 10px;
        box-shadow: 0 0 9px 4px rgba(220, 220, 220, 0.7);
        margin-top: 15px;
        padding: 20px;
    }
}