*, *::before,
*::after{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a{
  text-decoration: none;
  color: rgb(80, 79, 79);
}
body{
    width: 100%;
}

h2{
    margin: 20px 0 10px 5px;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: rgb(80, 79, 79);
}

.lienlogo{
    width: 200px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    margin-top: 40px;
}

.sizelogo{
    width: 200px;
}

.psection{
    margin: 5px 0 10px 0;
}

h3{
    margin: 0;
}

.h3section{
    margin-top: 90px;
}

.sizelogog²m{
    width: 100px;
}
.sizelogoMW{
    width : 120px;
    height : 90px;
}
.sizelogomjms{
    width: 80px;
    height: 80px;
}
.sizelogoOR{
    width: 80px;
    height: 80px;
}
.sizelogoS{
    width: 140px;
    height: 80px;
}
.sizelogotvcom{
    width: 140px;
    height: 80px;
}
.lienlogog²m{
    width: 100px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    margin-top: 40px;
}